@charset "UTF-8";

@media screen and (min-width: 550px) and (max-width: 768px) {
    .container{
        width: 80vw;
        height: 40vh;
    }
    #imagem{
       display: block;
       float: left;
       width: 35%;
       height: 100%;
       border-radius: 10px 0 0 10px;
    }
    #formulario{
        display: block;
        float: right;
        width: 65%;
        height: 100%;
        border-radius: 0 10px 10px 0;

     }
}
@media screen and (min-width: 768px) {
    .container{
        width: 80vw;
        max-width: 800px;
        height: 60vh;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0 10px 10px 0;
     }
     #formulario{
         display: block;
         float: left;
         width: 50%;
         height: 100%;
         padding: 30px;
         border-radius: 10px 0 0 10px;
      } 
}